#navigation {
    background-color: #400094!important;
}

#navigation .graduate {
    background-color: #400094!important;
}

#navigation .graduate li {
    color: #ffffff;
}

#navigation .graduate li a {
    text-decoration: none;
    color: #ffffff;
}

#navigation .graduate>li+li:before {
    color: #ccc;
    content: ">";
    margin-right: 1rem;
}
#teachers h3{
    color:#400094;
}
/* #teachers #image-holder{
    width: 500px;
    height: auto;
    position: absolute;
    left: 300px;
    top: 200px; /* Or perhaps different coordinates 
    display: none;
  } */
#footer {
    background-color: #400094!important;
}

#footer h5 {
    color: #ffffff;
    font-size: 15px;
}

#footer ul.quick-links li {
    color: white;
    font-size: 13px;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer .address, .social {
    margin-top: 2.5rem;
}