.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    height: 500px;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    /* background-image: linear-gradient(transparent, #000); */
    /* transition: opacity 150ms; */
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

#article .date img{
    width: 2em;
} 
#article .date{
    font-size: 13px;
} 

#parent #popup {
    display: none;
  }
  
#parent:hover #popup {
    display: block;
  }




#footer {
    background-color: #400094!important;
}

#footer h5 {
    color: #ffffff;
    font-size: 15px;
}

#footer ul.quick-links li {
    color: white;
    font-size: 13px;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer .address, .social {
    margin-top: 2.5rem;
}